@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .contentNew p {
    color: black; /* ya da istediğiniz bir renk */
}

.dark .contentNew p {
    color: white; /* dark mod için istediğiniz bir renk */
}

.contentNew figcaption {
  color: black; /* ya da istediğiniz bir renk */
}

.dark .contentNew figcaption {
  color: white; /* dark mod için istediğiniz bir renk */
}

.contentNew img {
border-radius: 10px;
}

.dark .contentNew img {
  border-radius: 10px;
}

.contentNew figure {
  display: flex;
  flex-direction: column;
  gap:15px;
  }
  
.dark .contentNew figure {
  display: flex;
  flex-direction: column;
  gap:15px;
  }

  .contentNew section {
  display: flex;
  flex-direction: column;
  gap:15px;
  }
  
  .dark .contentNew section {
  display: flex;
  flex-direction: column;
  gap:15px;
  }